@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <ul>
        <li>Pets: @Model.PetsCount</li>
        <li>Ads: @Model.AdsCount</li>
        <li>Categories: @Model.CategoriesCount</li>
        <li>Articles: @Model.ArticlesCount</li>
    </ul>
</div>
