@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Pets.GetAllPetsInputModel
@{
    this.ViewData["Title"] = "Get all pets";
}

<div class="text-center">
    @foreach (var pet in Model.Pets)
   {
       <h3>@pet.Name</h3>
       <p>Age: @pet.Age</p>
       <p>Address @pet.Address</p>
       <p>Breed: @pet.Breed</p>
       <p>IsAdopted: @pet.IsAdopted</p>
       <p>AdvertisementId: @pet.AdvertisementId</p>
       <p>CategoryId: @pet.CategoryId</p>
       <br />
   }
</div>
