@model AdoptAnimal.Data.Models.Statistic

@{
    ViewData["Title"] = "Details";
}

<h3 class="mt-2">Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisementsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvertisementsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticlesCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlesCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersCounts)
        </dd>
        @if (Model.ModifiedOn != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
