@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Advertisements.AdvertisementsListViewModel
@{
    this.ViewData["Title"] = "Get all advertisements";
}

<div class="row">
    @foreach (var ad in this.Model.Advertisements)
    {
        <div class="card col-md-3" style="width: 18rem;">
            <img class="card-img-top img-responsive" src=@ad.Pet.ImageUrl alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">@ad.Title</h5>
                <p class="card-text">@ad.Description.Substring(0, 20)...</p>
                <p class="card-text">@ad.Address</p>
                <h4 class="card-text">@ad.Pet.CategoryName</h4>
                <p class="card-text">AddedOn: @ad.CreatedOn.ToString("dd/mm/yy")</p>
                <a asp-action="ById" asp-route-id="@ad.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />