@model AdoptAnimal.Web.ViewModels.Advertisements.SingleAdvertisementViewModel
@{
    this.ViewData["Title"] = "ById";
    var parms = new Dictionary<string, string>
            {
                { "AdvertisementId", Model.Id.ToString() },
            };
}

<div class="container">
    <div class="cardm">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img data-enlargeable class="image-li" src=@Model.Pet.PetImages.FirstOrDefault().ImageUrl alt=@Model.Pet.Name /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active mt-2">
                            <a data-target="#pic-1" data-toggle="tab">
                                <img data-enlargeable class="image-li"
                                     src=@Model.Pet.PetImages.FirstOrDefault().ImageUrl alt=@Model.Pet.Name style="width:160px; height:80px" />
                            </a>
                        </li>
                        @foreach (var petImage in Model.Pet.PetImages)
                        {
                            <li class="mt-2"><a data-target="#pic-2" data-toggle="tab"><img data-enlargeable class="image-li" src=@petImage.ImageUrl alt=@Model.Pet.Name style="width:160px; height:80px" /></a></li>
                        }
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title text-center pt-2 p-1 mb-0">@Model.Title</h3>
                    <p class="product-description font-italic p-1 mb-0">Добавена на @Model.CreatedOn.ToString("hh:mm dd/MM/yy") от @Model.AuthorUserName</p>
                    <p class="product-description p-1 mb-0">@Model.Description</p>
                    <p class="product-description p-1 mb-0">Информация за животното:</p>
                    <p class="product-description p-1 mb-0">Име: @Model.Pet.Name Години: @Model.Pet.Age Тегло: @Model.Pet.Weight Порода: @Model.Pet.Breed</p>
                    @if(Model.Pet.Gender == "1")
                    {
                        <p class="product-description p-1 mb-0">Мъжко</p>
                    }else
                    {
                        <p class="product-description p-1 mb-0">Женско</p>
                    }
                    @if(Model.Pet.IsDewormed == "1")
                    {
                        <p class="product-description p-1 mb-0">Обезпаразитено</p>
                    }else if(Model.Pet.IsDewormed == "2")
                    {
                        <p class="product-description p-1 mb-0">Необезпаразитено</p>
                    }else{
                        <p class="product-description p-1 mb-0">Няма информация за обезпаразитяване</p>
                    }
                    <p class="product-description p-1 mt-3 mb-0">Телефон за връзка: @Model.PhoneNumber</p>
                    <p class="product-description p-1 mb-0">Адрес: @Model.Address</p>
                    @if (Model.IsAuthor != null && Model.IsAuthor == true)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-0">Редактирай</a>
                        <form asp-action="Delete" asp-route-id="@Model.Id">
                            <button class="btn btn-danger mb-0 mt-2">Изтрий</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Comments" asp-action="Create" asp-all-route-data="parms" class="btn btn-primary ml-3 mt-2 mb-2" style="background-color: #9370db; border: none">Добави коментар</a>

@if (Model.Comments.Count() > 0)
{
    <div class="container">
        <div class="cardm mt-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pl-1 ml-3">
                            <h5 class="card-title m-0">Коментари</h5>
                        </div>
                        <div class="comment-widgets m-b-20">
                            @foreach (var comment in @Model.Comments)
                            {
                                <div class="d-flex flex-row comment-row ml-3 mr-3 mb-3" style="border: 1px solid #9370db; border-radius: 7px">
                                    <div class="p-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="border-radius: 25px;" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                        </svg>
                                    </div>
                                    <div class="comment-text w-100">
                                        <h6 class="mt-2 p-0">@comment.AuthorUserName</h6>
                                        <div class="comment-footer"> <span class="date">@comment.CreatedOn.ToString("hh:mm dd/MM/yy")</span></div>
                                        <p class="m-b-5 m-t-10">@comment.Content</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
<script>
      $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
      var src = $(this).attr('src');
      var modal;

      function removeModal() {
        modal.remove();
        $('body').off('keyup.modal-close');
      }
      modal = $('<div>').css({
        background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
        backgroundSize: 'contain',
        width: '100%',
        height: '100%',
        position: 'fixed',
        zIndex: '10000',
        top: '0',
        left: '0',
        cursor: 'zoom-out'
      }).click(function() {
        removeModal();
      }).appendTo('body');
      $('body').on('keyup.modal-close', function(e) {
        if (e.key === 'Escape') {
          removeModal();
        }
      });
    });
</script>
    }
