@model AdoptAnimal.Web.ViewModels.Advertisements.SingleAdvertisementViewModel
@{
    this.ViewData["Title"] = "ById";
}

<div class="container">
    <div class="cardm">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img data-enlargeable class="image-li" src=@Model.Pet.PetImages.FirstOrDefault().ImageUrl alt=@Model.Pet.Name /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active mt-2">
                            <a data-target="#pic-1" data-toggle="tab">
                                <img data-enlargeable class="image-li"
                                     src=@Model.Pet.PetImages.FirstOrDefault().ImageUrl alt=@Model.Pet.Name style="width:160px; height:80px" />
                            </a>
                        </li>
                        @foreach (var petImage in Model.Pet.PetImages)
                        {
                            <li class="mt-2"><a data-target="#pic-2" data-toggle="tab"><img data-enlargeable class="image-li" src=@petImage.ImageUrl alt=@Model.Pet.Name style="width:160px; height:80px" /></a></li>
                        }
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title text-center pt-2 p-1 mb-0">@Model.Title</h3>
                    <p class="product-description font-italic p-1 mb-0">Added on @Model.CreatedOn.ToString("hh:mm dd/MM/yy") by @Model.AuthorUserName</p>
                    <div class="rating">
                        <span class="review-no">
                            Views:
                            @if (Model.Statistic != null)
                            {
                                @Model.Statistic.CountOfViews
                            }
                        </span>
                    </div>
                    <p class="product-description p-1 mb-0">@Model.Description</p>
                    <p class="product-description p-1 mb-0">Name: @Model.Pet.Name Age:@Model.Pet.Age Gender:@Model.Pet.Gender Weight:@Model.Pet.Weight Breed:@Model.Pet.Breed IsDewormed:@Model.Pet.IsDewormed IsAdopted:@Model.Pet.IsAdopted</p>
                    <p class="product-description p-1 mb-0">Tel:@Model.PhoneNumber Added By:@Model.AuthorUserName</p>
                    <p class="product-description p-1 mb-0">Adresa:@Model.Address</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="cardm">
        <div class="row">
            <div class="col-10">
                <div class="comment-box ml-2">
                    <h5>Add a comment</h5>
                    <div class="comment-area"> <textarea class="form-control" placeholder="Add a comment..." rows="4"></textarea> </div>
                    <div class="comment-btns mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="pull-right"> <button class="btn btn-success send btn-sm">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="cardm">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Recent Comments</h5>
                        <h6 class="card-subtitle">Latest Comments section by users</h6>
                    </div>
                    <div class="comment-widgets m-b-20">
                        @foreach (var comment in @Model.Comments)
                        {
                            <div class="card-body p-t-1">
                                <h5>@comment.AuthorUserName</h5>
                                <div class="comment-footer"> <span class="date">Added on: @comment.CreatedOn.ToString("hh:mm dd/MM/yy") by @comment.AuthorUserName</span> </div>
                                <p class="m-b-5 m-t-5">@comment.Content</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
      $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
      var src = $(this).attr('src');
      var modal;

      function removeModal() {
        modal.remove();
        $('body').off('keyup.modal-close');
      }
      modal = $('<div>').css({
        background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
        backgroundSize: 'contain',
        width: '100%',
        height: '100%',
        position: 'fixed',
        zIndex: '10000',
        top: '0',
        left: '0',
        cursor: 'zoom-out'
      }).click(function() {
        removeModal();
      }).appendTo('body');
      //handling ESC
      $('body').on('keyup.modal-close', function(e) {
        if (e.key === 'Escape') {
          removeModal();
        }
      });
    });
</script>
}